<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!-- выбор строки подключения -->
	<appSettings>
		<add key="UseConnection" value="LocalDbConnection"/>
	</appSettings>

	<!-- строки подключения -->
	<connectionStrings>
		<add name="LocalDbConnection" connectionString="
			Data Source=HOME-PC\SQLEXPRESS;
            Initial Catalog=students_db_pv324;
            Integrated Security=SSPI;
            Timeout=5;
        "/>
	</connectionStrings>
</configuration>